@use '../base/variables' as *;

.step2 {
    padding: 1rem;


    &__card {

        grid-column: span 4;
        padding: 1rem;

        @media (min-width: 768px) {
            grid-column: span 12;

        }
    }


    &__header {

        text-align: left;

        h2,
        p {
            line-height: 2rem;
        }

        h2 {
            font-size: 24px;

        }

        @media (min-width: 768px) {

            h2 {
                font-size: 32px;

            }
        }
    }

    &__body {

        text-align: left;
        background-color: $white;
        border: 1px solid $bg-neutral;
        box-shadow: 0 3px 10px #4f4fff26;
        border-radius: 24px;
        padding: 1rem;
        margin-top: 1rem;

        p {
            line-height: 1.8rem;
        }

        @media (min-width:768px) {
            margin-top: 2rem;
        }
    }

    &__box {
        margin-bottom: 1rem;
    }



}