$blue: #4F4FFF;
$blue-gray: #2B304E;
$red: #FF1C44;
$green: #7DF0BA;
$black: #03050F;
$white: #FFFFFF;
$bg-white: #F8F9FF;
$bg-light: #FAFBFF;
$text-dark: #141938;
$gray-light: #7981B2;
$gray-60: #5E6488;
$bg-neutral: #EDEFFC